@import '~antd/dist/antd.css';

/* CSS reset */
* {
  margin: 0;
  padding: 0;
}

/* ---------------------------
------------------------------
------------------------------ */

/* MAIN CONTAINER */
.mainContainer {
  position: absolute;
  left: 5.27%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F1F4F8;
}

/* ---------------------------
------------------------------
------------------------------ */

/* HEADER */
.narwhalHeader {
  height: 80px;
  background: white;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
}

.narwhalTitle {
  height: 80px;
  width: 10%;
  font-size: 18px;
  color: #A4A6A8;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  border-right: 1px solid #E2E2E2;
}

.pageName {
  height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
}

.greeting {
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.subHeader {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.avatarDiv {
  margin-right: 10px;
}

.helloMessage {
  font-size: 14px;
  color: #A4A6A8;
  font-weight: bold;
  margin-right: 10px;
}

.notificationsIcon {
  margin-right: 30px;
}

/* ---------------------------
------------------------------
------------------------------ */

/* SECOND HEADER */
.secondSubHeader{
  height: 90px;
  background: white;
  border: solid 1px black;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

/* ---------------------------
------------------------------
------------------------------ */

/* SIDE BAR */
.sideBar {
  position: absolute;
  left: 0%;
  right: 94.73%;
  top: 0%;
  bottom: 0%;
  background: #042235;
}

.whaleIcon {
  width: 45px;
}

.whaleIconDiv {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarIconDiv {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarIconDiv:hover {
  background: #2995da;
  cursor: pointer;
}

.sideBarIconDiv:hover .sideBarIcon {
  opacity: 1;
}
