@import "~antd/dist/antd.css";

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

/* ---------------------------
------------------------------
------------------------------ */

/* MAIN CONTAINER */
.mainContainer {
  position: absolute;
  left: 5.27%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #f1f4f8;
}

/* ---------------------------
------------------------------
------------------------------ */

/* HEADER */
.narwhalHeader {
  height: 80px;
  background: white;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
}

.narwhalTitle {
  height: 80px;
  width: 10%;
  font-size: 18px;
  color: #a4a6a8;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  border-right: 1px solid #e2e2e2;
}

.pageName {
  height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
}

.greeting {
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.subHeader {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.avatarDiv {
  margin-right: 10px;
}

.helloMessage {
  font-size: 14px;
  color: #a4a6a8;
  font-weight: bold;
  margin-right: 10px;
}

.notificationsIcon {
  margin-right: 30px;
}

/* ---------------------------
------------------------------
------------------------------ */

/* SECOND HEADER */
.secondSubHeader {
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconAndTitle {
  display: flex;
  align-items: center;
}

.secondHeaderIcon {
  margin-left: 38px;
  margin-right: 10px;
}

.secondHeaderTitle {
  color: #1a1919;
  font-weight: bold;
  font-size: 28px;
}

.createButton {
  background: #40D2BF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 10px 15px 10px 10px;
}

.plusIcon {
  margin-right: 20px;
}

.createButtonText {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.thirdSubHeader {
  height: 45px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 1px black; */
}

.filterOptionsDiv {
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: 38px;
  justify-content: space-between;
}

.filterOptions {
  line-height: 45px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 0 15px;
}

.filterOptions:hover {
  cursor: pointer;
  color: #0083E3;
  border-bottom: 3px solid #0083E3;
}

.searchIcon {
  margin-right: 10px;
}

.searchInput {
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #a4a6a8;
  margin-right: 30px;
}

/* ---------------------------
------------------------------
------------------------------ */

/* SIDE BAR */
.sideBar {
  position: absolute;
  left: 0%;
  right: 94.73%;
  top: 0%;
  bottom: 0%;
  background: #042235;
}

.whaleIcon {
  width: 45px;
}

.whaleIconDiv {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarIconDiv {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarIconDiv:hover {
  background: #2995da;
  cursor: pointer;
}

.sideBarIconDiv:hover .sideBarIcon {
  opacity: 1;
}

/* ---------------------------
------------------------------
------------------------------ */

/* CONTENT */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}

/* ---------------------------
------------------------------
------------------------------ */

/* INFO DIV */
.infoDiv {
  border: solid 1px black;
  background-color: white;
  width: 72%;
}

/* ---------------------------
------------------------------
------------------------------ */

/* ACTIVITY DIV */
.activityDiv {
  border: solid 1px black;
  background-color: white;
  width: 25%;
}
